{
  "extends": "airbnb",
  "parserOptions": {
     "ecmaVersion": 6,
     "ecmaFeatures": {
       "experimentalObjectRestSpread": true
      }
  },       
  "rules": {
    "react/prefer-es6-class": 0,
    "react/jsx-uses-react": 1
  }   
}